@property --opacity { syntax: "*"; inherits: false;}
@property --visibility { syntax: "*"; inherits: false;}
@property --height { syntax: "*"; inherits: false;}
:root, .tailwindspacing-g8z7jj{--tailwindspacing-1dv0j2m:calc(var(--spacing-Full) + var(--spacing-Half));--tailwindspacing-ehxkpj:var(--spacing-Full);--tailwindspacing-1dv48qs:var(--spacing-Half);--tailwindspacing-k32zpi:var(--spacing-Quarter);--tailwindspacing-z3n40l:2px;--tailwindspacing-1c4xag:var(--spacing-GoldenUnit);}
:root, .tailwindspacing-1tht2vs{--tailwindspacing-1snckv:ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;--tailwindspacing-1w2xr5k:var(--fontSize-Base);}
:root, .tailwindspacing-dkid8m{--tailwindspacing-ogw4qf:var(--colors-PrimaryBlue);--tailwindspacing-1nt8s47:var(--colors-PrimaryBlueHover);--tailwindspacing-1uxz671:var(--colors-ContrastNeutral);--tailwindspacing-bgc6zl:var(--colors-ContrastDarkest);--tailwindspacing-efi9e:var(--colors-Warn);--tailwindspacing-1rqccr9:var(--colors-Error);}
:root, .tailwindspacing-1f3zt76{--tailwindspacing-tmki8b:var(--transition-Fast);--tailwindspacing-1k6t4hp:var(--transition-Default);--tailwindspacing-1hs6hxx:var(--transition-Slow);--tailwindspacing-6a8vkk:cubic-bezier(0.4, 0, 0.2, 1);}
.tailwindspacing-1md70p1:not(#\#){background:transparent}
.tailwindspacing-1wty727:not(#\#){border:0}
.tailwindspacing-1ghz6dp:not(#\#){margin:0}
.tailwindspacing-1717udv:not(#\#){padding:0}
.tailwindspacing-4fuesw:not(#\#):not(#\#){border-radius:var(--tailwindspacing-z3n40l)}
.tailwindspacing-c342km:not(#\#):not(#\#){border-width:0}
.tailwindspacing-mkeg23:not(#\#):not(#\#){border-width:1px}
.tailwindspacing-1a2a7pz:not(#\#):not(#\#){outline:none}
.tailwindspacing-qowpy1:not(#\#):not(#\#){padding-block:var(--tailwindspacing-ehxkpj)}
.tailwindspacing-4nyhjx:not(#\#):not(#\#){transition:height var(--tailwindspacing-1hs6hxx) var(--tailwindspacing-6a8vkk)}
.tailwindspacing-1pha0wt:not(#\#):not(#\#):not(#\#){align-items:baseline}
.tailwindspacing-jyslct:not(#\#):not(#\#):not(#\#){appearance:none}
.tailwindspacing-hzflk4:not(#\#):not(#\#):not(#\#){background-color:var(--tailwindspacing-1uxz671)}
.tailwindspacing-1b1mkzo:not(#\#):not(#\#):not(#\#){background-color:var(--tailwindspacing-bgc6zl)}
.tailwindspacing-1i19wr2:not(#\#):not(#\#):not(#\#){background-color:var(--tailwindspacing-ogw4qf)}
.tailwindspacing-10uj510:not(#\#):not(#\#):not(#\#){box-shadow:0 0 0 2px var(--tailwindspacing-efi9e)}
.tailwindspacing-1heor9g:not(#\#):not(#\#):not(#\#){color:inherit}
.tailwindspacing-1h6gzvc:not(#\#):not(#\#):not(#\#){cursor:not-allowed}
.tailwindspacing-1ypdohk:not(#\#):not(#\#):not(#\#){cursor:pointer}
.tailwindspacing-78zum5:not(#\#):not(#\#):not(#\#){display:flex}
.tailwindspacing-jqkt8n:not(#\#):not(#\#):not(#\#){font-family:var(--tailwindspacing-1snckv)}
.tailwindspacing-qybn45:not(#\#):not(#\#):not(#\#){font-size:var(--tailwindspacing-1w2xr5k)}
.tailwindspacing-1qughib:not(#\#):not(#\#):not(#\#){justify-content:space-between}
.tailwindspacing-190dgpg:not(#\#):not(#\#):not(#\#){opacity:.65}
.tailwindspacing-a0d40w:not(#\#):not(#\#):not(#\#){opacity:var(--opacity)}
.tailwindspacing-14kyq9z:not(#\#):not(#\#):not(#\#){visibility:var(--visibility)}
.tailwindspacing-8ie97q:where(*) *:not(#\#):not(#\#):not(#\#){pointer-events:none!important}
.tailwindspacing-1f5funs:not(#\#):not(#\#):not(#\#):not(#\#){height:var(--height)}
.tailwindspacing-18codpo:not(#\#):not(#\#):not(#\#):not(#\#){height:var(--tailwindspacing-1dv0j2m)}
.tailwindspacing-qqdwhn:not(#\#):not(#\#):not(#\#):not(#\#){margin-top:var(--tailwindspacing-1dv48qs)}
.tailwindspacing-h8yej3:not(#\#):not(#\#):not(#\#):not(#\#){width:100%}
.tailwindspacing-1mizza8:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#)::-webkit-slider-thumb{border-radius:var(--tailwindspacing-z3n40l)}
.tailwindspacing-6iggyh:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#)::-moz-range-thumb{border-radius:var(--tailwindspacing-z3n40l)}
.tailwindspacing-cvrw5r:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#)::-webkit-slider-thumb{border-width:0}
.tailwindspacing-1wwh93d:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#)::-moz-range-thumb{border-width:0}
.tailwindspacing-ibs45w:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#)::-webkit-slider-thumb{appearance:none}
.tailwindspacing-13fi9fm:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#)::-moz-range-thumb{appearance:none}
.tailwindspacing-bs9ufc:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#)::-webkit-slider-thumb{background-color:var(--tailwindspacing-ogw4qf)}
.tailwindspacing-1vi72du:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#)::-moz-range-thumb{background-color:var(--tailwindspacing-ogw4qf)}
html:not([dir='rtl']) .tailwindspacing-1kthjsd:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#)::-webkit-slider-thumb{box-shadow:0 0 0 #000,0 0 0 #0d0d0d}
html[dir='rtl'] .tailwindspacing-1kthjsd:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#)::-webkit-slider-thumb{box-shadow:0 0 0 #000, 0 0 0 #0d0d0d}
html:not([dir='rtl']) .tailwindspacing-66xn83:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#)::-moz-range-thumb{box-shadow:0 0 0 #000,0 0 0 #0d0d0d}
html[dir='rtl'] .tailwindspacing-66xn83:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#)::-moz-range-thumb{box-shadow:0 0 0 #000, 0 0 0 #0d0d0d}
.tailwindspacing-u2yhzc:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#)::-webkit-slider-thumb{cursor:grab}
.tailwindspacing-1w3w5:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#)::-moz-range-thumb{cursor:grab}
.tailwindspacing-rgyhxz:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#)::-webkit-slider-thumb{transition-duration:var(--tailwindspacing-1k6t4hp)}
.tailwindspacing-1a87nqv:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#)::-moz-range-thumb{transition-duration:var(--tailwindspacing-1k6t4hp)}
.tailwindspacing-1butzbu:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#)::-webkit-slider-thumb{transition-property:transform,background-color}
.tailwindspacing-55q4sf:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#)::-moz-range-thumb{transition-property:transform,background-color}
.tailwindspacing-1i19jul:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#)::-webkit-slider-thumb{transition-timing-function:var(--tailwindspacing-6a8vkk)}
.tailwindspacing-1ui5tm2:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#)::-moz-range-thumb{transition-timing-function:var(--tailwindspacing-6a8vkk)}
.tailwindspacing-goj2q5:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#)::-webkit-slider-thumb:hover{background-color:var(--tailwindspacing-1nt8s47)}
.tailwindspacing-izr8yz:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#)::-moz-range-thumb:hover{background-color:var(--tailwindspacing-1nt8s47)}
.tailwindspacing-6nyc7a:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#)::-webkit-slider-thumb:focus{background-color:var(--tailwindspacing-1nt8s47)}
.tailwindspacing-nw2crw:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#)::-moz-range-thumb:focus{background-color:var(--tailwindspacing-1nt8s47)}
.tailwindspacing-1tk0e90:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#)::-webkit-slider-thumb:active{cursor:grabbing}
.tailwindspacing-uyzg6f:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#)::-moz-range-thumb:active{cursor:grabbing}
.tailwindspacing-1xk2y70:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#)::-webkit-slider-thumb:active{transform:scale(1.2)}
.tailwindspacing-oo02y2:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#)::-moz-range-thumb:active{transform:scale(1.2)}
.tailwindspacing-1p6diu8:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#)::-webkit-slider-thumb{height:20px}
.tailwindspacing-1qquo6a:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#)::-moz-range-thumb{height:20px}
.tailwindspacing-1iqn34f:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#)::-webkit-slider-thumb{width:20px}
.tailwindspacing-ovb9ml:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#)::-moz-range-thumb{width:20px}